<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReyzXdzzCode - Store Official</title>
    <meta name="description" content="ReyzXdzzCode -  Store menyediakan kebutuhan hosting, script bot, dan sosial media dengan pembayaran yang mudah. Temukan produk berkualitas tinggi dan bergaransi.">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ReyzXdzzCode Store" />
    <meta property="og:url" content="https://s.id/websitereyzxdzzcode" />
    <meta property="og:site_name" content="ReyzXdzzCode - store" />
    <meta property="og:image" content="https://cdn.alands.xyz/img/IMG-20240910-WA0367.jpg" />
    <meta property="og:image:secure_url" content="https://cdn.alands.xyz/img/IMG-20240910-WA0367.jpg" />
    <link href="https://cdn.alands.xyz/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.alands.xyz/css/aos.css">
    <link rel="stylesheet" href="https://cdn.alands.xyz/css/slick.css">
    <link rel="stylesheet" href="https://cdn.alands.xyz/css/style.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1JYCKZXYM3"></script>

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P4VD4HMR');</script>
<!-- End Google Tag Manager -->
    <!-- Google tag (gtag.js) -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1JYCKZXYM3');
</script>
    <style>
          .carousel-inner {
    max-width: 100%; 
    margin: 0 auto;
}
.carousel-item img {
    width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
    border-radius: 15px; 
}
.carousel-item {
    padding: 10px;
}
        </style>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4VD4HMR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ReyzXdzzCode <span>- Store</span></a>
        </div>
    </nav>

    <!-- Carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="#" target="_blank">
                <img alt="banner" src="https://cdn.alands.xyz/img/IMG-20240910-WA0425.jpg">
            </a>
        </div>
    </div>

    <!-- Search Form -->
    <form class="d-flex search-form container" role="search" onsubmit="event.preventDefault(); searchProducts(this.query.value);">
        <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search" required>
        <button class="btn btn-success" type="submit">Search</button>
        <button class="btn btn-danger search-close d-none" id="closeSearch" onclick="reset()">X</button>
    </form>

    <!-- Category Menu -->
    <div class="category-menu text-center">
        <button class="btn btn-outline-primary mx-2" onclick="displayProducts('all')">ALL</button>
        <button class="btn btn-outline-primary mx-2" onclick="displayProducts('vps')">VPS</button>
        <button class="btn btn-outline-primary mx-2" onclick="displayProducts('hosting')">HOSTING</button>
        <button class="btn btn-outline-primary mx-2" onclick="displayProducts('sosmed')">SOSMED</button>
        <button class="btn btn-outline-primary mx-2" onclick="displayProducts('script')">SCRIPT BOT</button>
    </div>

    <section class="product-category" id="products-section" data-aos="fade-up">
        <div class="container">
            <h2>All Products</h2>
            <div class="row" id="product-list">
            </div>
        </div>
    </section>

    <footer class="footer">
        <p>&copy; 2024 ReyzXdzzCode Store. All Rights Reserved.</p>
    </footer>

    <script src="https://cdn.alands.xyz/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.alands.xyz/js/aos.js"></script>
    <script src="https://cdn.alands.xyz/js/script.js"></script>
    <script src="https://cdn.alands.xyz/js/slick.min.js"></script>
</body>
</html>
